@charset "UTF-8";
    /* header.css */
    .top-bar, .top-bar ul {
        background-color: #e6e6e6;
    }
    .top-bar {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0.5rem;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .top-bar, .top-bar ul {
        background-color: #e6e6e6;
    }
    .top-bar, .top-bar ul {
        background-color: #e6e6e6;
    }
    /* footer.css */
    body {
      font-family: Nunito Sans;
    }

    footer {
      background-color: #fef100;
      padding-top: 20px;
      padding-bottom: 40px;
      margin-top: 50px;
    }

    li,
    h3,
    p,
    label {
      color: red;
    }

    .cell:nth-child(1) h3,
    .cell:nth-child(4) h3 {
      text-align: left;
    }

    h3 {
      padding-top: 20px;

    }

    .pl-60 {
      padding-left: 60px;
    }

    footer p {
      padding-top: 20px;
      padding-right: 10px;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0 5px;
    }

    footer li {
      padding-top: 5px;
      cursor: pointer;
    }

    li:hover {
      color: #ddd;
    }

    .btn-custom {
      background: yellow;
    }

    .btn-custom:hover {
      background: yellow;
    }

    .bottom {
      background: yellow;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .bottom ul {
      display: flex;

    }

    .bottom ul li {
      padding-right: 25px;
      cursor: pointer;
    }

    .bottom p {
      margin: 0px;
    }

    @media(max-width: 1024px) {

      .medium-6,
      .cell:nth-child(1) h3,
      .cell:nth-child(4) h3,
      .bottom,
      .bottom li {
        text-align: center;
      }
    }

    @media(max-width: 900px) {
      .pl-60 {
        padding-left: 30px;
      }
    }

    @media(max-width: 768px) {
      .pl-60 {
        padding-left: 15px;
      }

      .bottom ul {
        padding-top: 5px;
        display: inline-flex;
      }
    }